---
metatype: css
---

:root {
  --border: 1px solid rgba(24, 24, 24, 0.16);
  --color-default: #EBCDAE;
  --color-primary: #665450;
  --color-primary-opacity-8: rgba(0, 32, 143, 0.08);
  --color-neutral: #EBDFC1;
  --color-neutral-darker: #98816F;
  --color-contrast: #1F0B06;
  --color-contrast-opacity-8: rgba(24, 24, 24, 0.08);
  --color-contrast-opacity-16: rgba(24, 24, 24, 0.16);
  --color-contrast-opacity-36: rgba(24, 24, 24, 0.36);
  --color-contrast-opacity-86: rgba(24, 24, 24, 0.86);
  --background-color: var(--color-default);
  --dimmed-text-color: var(--color-contrast-opacity-16);
  --dimmed-border-color: var(--color-default);
  --body-text-color: var(--color-contrast);
  --post-title-color: var(--body-text-color);
  --post-date-color: var(--body-text-color);
  --post-text-color: var(--body-text-color);
  --page-menu-link-color: var(--link-color);
  --header-author-name: var(--color-primary);
  --header-listed-name: var(--color-primary);
  --more-from-border-color: var(--dimmed-border-color);
  --bio-color: var(--body-text-color);
  --wordcount-color: var(--color-primary);
  --website-color: var(--link-color);
  --twitter-color: var(--link-color);
  --link-color: var(--color-primary);
  --header-border-color: var(--color-primary);
  --post-code-background-color: #f7f7f9;
  --post-code-border-color: #e1e1e8;
  --card-post-background-color: var(--color-default);
  --card-post-border: var(--border);
  --post-background-color: var(--color-neutral);
  --author-posts-background-color: var(--color-neutral);
  --more-posts-background-color: var(--color-default);
  --more-posts-post-background-color: var(--color-neutral);
  --footer-background-color: var(--background-color);
  --footer-border-top-color: var(--color-contrast-opacity-16);
  --callout-background-color: var(--color-neutral);
  --callout-success-border-color: #1aa772;
  --callout-warning-border-color: #f28b52;
  --callout-info-border-color: #1aa772;
  --scroll-to-top-background-color: var(--color-default);
  --scroll-to-top-border: var(--border);
  --scroll-to-top-border-color-hover: var(--color-contrast);
  --author-footer-background-color: var(--color-neutral);
  --scroll-to-top-icon-color: var(--color-contrast);
  --blockquote-border-left-color: var(--color-contrast-opacity-36);
  --guestbook-border-left-color: var(--color-contrast-opacity-16);
  --author-header-info-links-separator-color: var(--color-contrast-opacity-16);
}
